@model Judicial_system.Data.Submission

<h2>Резултат от изпратеното решение</h2>

<p><strong>Дата:</strong> @Model.SubmissionDate</p>
<p><strong>Оценка:</strong> @Model.Score%</p>

<h3>Вашият код:</h3>
<pre style="background:#f4f4f4; padding:10px;">@Model.SourceCode</pre>

<a asp-action="Details" asp-controller="Task" asp-route-id="@Model.TaskId">Обратно към задачата</a>